MODE=dev
BASE_URL=https://api.siliconflow.cn/v1
API_KEY=your_api_key

# LLM
LLM_MODEL=Qwen/Qwen3-32B
LLM_MAX_TOKENS=16384
LLM_TEMPERATURE=0.3

# VLM
VLM_MODEL=Qwen/Qwen3-VL-32B-Instruct
VLM_MAX_TOKENS=16384
VLM_TEMPERATURE=0.3

# SLM
SLM_MODEL=Qwen/Qwen3-14B
SLM_MAX_TOKENS=4096
SLM_TEMPERATURE=0.1

# Embedding
EMBEDDING_MODEL=Qwen/Qwen3-Embedding-8B

# Rerank
RERANK_MODEL=Qwen/Qwen3-Reranker-8B
RERANK_TOP_N=5

# OCR
OCR_MODEL=deepseek-ai/DeepSeek-OCR
OCR_MAX_TOKENS=4096
OCR_TEMPERATURE=0.0

# QDRANT
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_API_KEY=G4@r9t!mZ1$eQ
QDRANT_TOP_K=5
QDRENT_VECTOR_SIZE=4096
QDRANT_DISTANCE=COSINE
QDRANT_COLLECTION=medical_document_summaries